<div id="tarif" class="container">

  <h2>Horaires et Tarifs</h2>
  <hr/>
  <br/>

  <h3>Horaires</h3>
  <p>Hiver - Printemps <> Été - Automne</p>
  <p>10h-18h <> 9h-19h</p>

  <br/>

  <h3>Tarifs</h3>
  <section class="tarifs">
    <div class="card">
      <div class="pic">
        <i class="i-child"></i>
      </div>

      <h3>Enfant*</h3>

      <span class="price">12€</span>

      <div class="more-info">*3 à 12ans</div>
    </div>

    <div class="card">
      <div class="pic">
        <i class="i-person"></i>
      </div>

      <h3>Adulte</h3>

      <span class="price">18€</span>
    </div>

    <div class="card">
      <div class="pic">
        <i class="i-group"></i>
      </div>

      <h3>Groupe*</h3>

      <div class="description">
        <p><span class="price">15€</span>Adulte(s)</p>
        <p><span class="price">9€</span>Enfant(s)</p>
      </div>

      <div class="more-info">*Minimum 15 personnes</div>
    </div>
  </section>

  <br/>
  <p>Mode de paiement CB, especes, Cheque ANCV</p>
  <p>Autre infos: parkings gratuits</p>

  <br/>

  <h3>Informations générales</h3>
  <p>Chiens non admis, nourrissage animaux, restauration rapide et boutique, accès handicapés</p>

</div>
