.container {
  margin: 0 auto;
  padding: 1rem;

  width: 100%;
  max-width: 1280px;

  flex: 1;
  color: var(--color-dark);
  background-color: rgba($color: #ffffff, $alpha: 0.4);

  &.transparent {
    background: transparent;
  }
}