footer {
  margin: 0 auto 0.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--color-light);
  background-color: rgba(black, 0.6);
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;

  h2 {
    font-size: 1.5rem;
  }

  hr {
    width: 100%;
    margin-bottom: 1rem;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 14rem;
  }

  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: asset-url("fr.svg") no-repeat center;
    background-size: contain;
  }
}

footer {
  .contact {
     a {
      display: flex;
      align-items: center;
      color: var(--color-light);
      text-decoration: none;
      transform: scale(1);

      i { font-size: 1.4rem; margin-right: 0.5rem; }

      &:hover {
        transform: scale(1.2);
      }

      + a {
        margin-top: 1rem;
      }
    }

    .socials {
      margin-top: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      a {
        margin: 0;
        
        i { font-size: 2.5rem; }

        &:hover {
          color: var(--color-primary);
        }

        + a {
          margin-left: 0.5rem;
        }
      }
    }
  }
}