/* HEADER
 ************************* */
header {
  margin: 0.5rem auto 0;
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: var(--color-dark);
  text-transform: uppercase;
  background-color: rgba($color: #ffffff, $alpha: 0.6);

  @media (max-width: 720px) {
    margin: 0 auto;
  }
}

header h1 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-direction: row;

  a {
    padding: 1.5rem 1rem;
    
    text-decoration: none;

    &:visited { color: inherit; }

    &.active {
      color: var(--color-light);
      background-color: var(--color-primary);
    }

    &:hover {
      color: var(--color-light);
      background-color: var(--color-dark);
    }
  }

  @media (max-width: 720px) {
    display: none;
  }
}