/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --color-dark: #2F3640;
  --color-light: #F5F6FA;
  --color-primary: #009432;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
p { font-size: 1rem; }
hr { border-color: rgba($color: #fff, $alpha: 0.6); }

#background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: asset-url("bkg.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(0.6);
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(black, 0.2);
}
