/* TARIF STYLE */
#tarif {
  .tarifs {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .card {
      width: 20rem;
      padding: 1rem 0.5rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: rgba($color: #ffffff, $alpha: 0.6);
      border-radius: 0.2rem;

      box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.4);
  
      .pic {
        margin-bottom: 2rem;
        font-size: 4rem;
      }

      h3 {
        margin-bottom: 2rem;
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          display: flex;
          align-items: center;

          > .price {
            margin-right: 1rem;
          }
        }
      }

      .price {
        font-size: 3rem;
      }

      .more-info {
        margin-top: 2rem;
        font-size: 0.9rem;
        font-style: italic;
      }

      + .card {
        margin-left: 2rem;
      }
    }
  }
}