<footer>
  <div class="contact col">
    <h2>Contact</h2>
    <hr/>

    <div class="content">
      <a href="mailto:contact@exemple.fr"><i class="i-mail"></i>contact@exemple.fr</a>
      <a href="tel:+330000000000"><i class="i-phone"></i>+33 (0)0 00 00 00 00</a>
      <div class="socials">
        <a href="#"><i class="i-facebook"></i></a>
        <a href="#"><i class="i-instagram"></i></a>
        <a href="#"><i class="i-vimeo"></i></a>
      </div>
    </div>
  </div>

  <div class="adress col">
    <h2>Address</h2>
    <hr/>

    <div class="content">
      <div class="background"></div>
      <p>
        1 Avenue d'Aquitaine<br/>
        La Nouvelle-Aquitaine,<br/>
        33000 France
      </p>
    </div>
  </div>
</footer>
