<header>
  <h1>Animals</h1>

  <nav>
    <%= link_to "accueil", root_path, :class => active_path?(root_path) %>
    <%= link_to "horaires & tarifs", tarif_path, :class => active_path?(tarif_path) %>
    <a href="<%= root_path %>">Les animaux</a>
    <a href="<%= root_path %>">les news</a>
  </nav>
</header>
