<!DOCTYPE html>
<html>
  <head>
    <title>Animals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="background"></div>

    <%= render('layouts/header') %>

    <%= yield %>

    <%= render('layouts/footer') %>
  </body>
</html>
